﻿<div>
        <div id="fh5co-author">
            <div class="container">
                <div class="row top-line animate-box"><!--animate-box-->
                    <div class="col-md-6 col-md-offset-1 col-md-push-2 text-center fh5co-heading">
                        <h2>About Us</h2>
                        <h3>Best Flowers Worldwide (bestflowers.com) serves the entire USA!</h3>
                        <p> As America's Trusted Online Florist™ since 1997, we are committed to offering only the finest flowers, plants, keepsakes, and gift baskets. Backed by unequaled customer service and a commitment to your satisfaction.</p>
                        <h3>Smiles. Guaranteed!™ • bestflowers.com –  America's Local Florist™</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <% branches.forEach(function(branch) { %>
                        <% include ../partials/branch %>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
</div>