﻿<!-- branch view -->

<div class="author">
    <div class="author-inner animate-box fadeInUp animated-fast" style="background-image:url(<%= branch.image%>);">
    </div>
    <div class="desc animate-box">
        <p>Address: &#32; <%= branch.address %> </p>
        <p>Phone number: &#32; <%= branch.telephone %> </p>

        <div class="col-md-10 animate-box skills">
          <button type="button" id="updateBranch" class="btn btn-primary" data-toggle="modal" data-target="#updateBranchModal"
                  data-id="<%=branch.id %>"
                  data-address="<%= branch.address %>"
                  data-phone="<%= branch.telephone %>"
                  data-image="<%= branch.image %>">
                    Update
                  </button>

          <button type="button" id="deleteBranch" class="btn btn-primary" data-toggle="modal" data-target="#deleteBranchModal"  data-id="<%=branch.id %>" >
            Delete
          </button>
        </div>
    </div>

</div>