﻿<!-- branch view -->

<div class="author">
    <div class="author-inner animate-box fadeInUp animated-fast" style="background-image:url(<%= branch.image %>);">
    </div>
    <div class="desc animate-box">
        <span>M&S flower store - Branches</span>
        <p>Address: &#32; <%= branch.address %> </p>
        <p>Phone number: &#32; <%= branch.telephone %> </p>

    </div>
</div>