﻿<!-- customer view -->
<% if (customer.details != null ) {%>
<div class="col-md-6 col-sm-6">
    <div class="feature-center animate-box" data-animate-effect="fadeIn">
        <span class="icon">
            <i><img src="images/userIcon1.png" /> </i>
        </span>
        <h3><%= customer.details.name %></h3>
        <p>User Name  : &#32; <%= customer.details.userName %> </p>
        <p>Password  : &#32; <%= customer.details.password %> </p>
        <p>Permission  : &#32; <%= customer.details.permission %> </p>

        <p> 
           <a class="btn btn-primary btn-outline" data-toggle="modal" data-target="#deleteModal" 
		   data-name="<%= customer.details.name %>" data-username="<%= customer.details.userName %>" >Delete</a>
        </p>

    </div>
</div>
<%}%>
	