﻿<!-- employee view -->

<% if (employee.details != null) {%>
<div class="col-md-6 col-sm-6">
    <div class="feature-center animate-box" data-animate-effect="fadeIn">
        <span class="icon">
            <i><img src="images/userIcon1.png"/> </i>
        </span>
        <h3><%= employee.details.name %></h3>
        <p>User Name  : &#32; <%= employee.details.userName %> </p>
        <p>Password  : &#32; <%= employee.details.password %> </p>
        <p>Permission  : &#32; <%= employee.details.permission %> </p>
        <p><a class="btn btn-primary btn-outline" data-toggle="modal" data-target="#updateModal" 
              data-name="<%= employee.details.userName %>">Update</a>
           <a class="btn btn-primary btn-outline" data-toggle="modal" data-target="#deleteModal"
              data-name="<%= employee.details.name %>" data-username="<%= employee.details.userName %>">Delete </a></p>
        
    </div>
</div>
<%}%>