﻿<!--  flower partial view  -->

<div class="col-md-4 text-center animate-box">
    <a class="work">
        <div class="work-grid" style="background-image:url(<%= flower.image%>);">
            <div class="inner">
                <div class="desc">
                    <h3><%= flower.name%></h3>
                    <span class="cat" style="font-size:24px; color: #685641;"><%= flower.price%> &#8362; </span>
                </div>
            </div>
        </div>
    </a>
</div>