﻿<div>

  <div id="fh5co-footer">
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <div class="row copyright">
            <div class="col-md-12 text-center">
              <p>
                <small class="block">&copy; Mayshar&Shira Company. All Rights Reserved.</small>
                <small class="block">
                  Designed by <a href="http://freehtml5.co/" target="_blank"Mayshar Reves&Shira Josef</a> Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a> &amp; <a href="http://blog.gessato.com/" target="_blank">Gessato</a>
                </small>
              </p>

              <ul class="fh5co-social-icons">
                <li>
                  <a href="#">
                    <i class="icon-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="icon-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="icon-linkedin"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="icon-dribbble"></i>
                  </a>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="gototop js-top">
    <a href="#" class="js-gotop">
      <i class="icon-arrow-up"></i>
    </a>
  </div>  
</div>