﻿<meta charset="utf-8">
<title>M&S flowers store</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="JCT Buoquet website, flower catalog and managment options" />
<meta name="keywords" content="JCT Buoquet, flowers" />
<meta name="author" content="Mayshar Reves and Shira joseph" />
  

<!-- Facebook and Twitter integration -->
<meta property="og:title" content="" />
<meta property="og:image" content="" />
<meta property="og:url" content="" />
<meta property="og:site_name" content="" />
<meta property="og:description" content="" />
<meta name="twitter:title" content="" />
<meta name="twitter:image" content="" />
<meta name="twitter:url" content="" />
<meta name="twitter:card" content="" />
      
<!-- Animate.css -->
<link rel="stylesheet" href="css/animate.css">
<!-- Icomoon Icon Fonts-->
<link rel="stylesheet" href="css/icomoon.css">
<!-- Bootstrap  -->
<link rel="stylesheet" href="css/bootstrap.css">
<!-- Theme style  -->
<link rel="stylesheet" href="css/style1.css">
  
<!-- Icon -->
<link rel="icon" type="image/png" href="images/logo.ico">
  
<!-- Modernizr JS -->
<script src="scripts/modernizr-2.6.2.min.js"></script>
<!-- JQuery  -->
<script src="scripts/jquery-3.3.1.js"></script>
<!-- jQuery Easing -->
<script src="scripts/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="scripts/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="scripts/jquery.waypoints.min.js"></script>
<!-- Main -->
<script src="scripts/main.js"></script>
<!-- Fetch -->
<script src="scripts/my_main.js"></script>