﻿<div>
    <% if (UserType == 'customer'){%>  <!-- navigation after a costomer login -->
  <nav class="fh5co-nav" role="navigation" id="afterCostomerLogin" >
    <div class="container" >
      <div class="fh5co-top-logo" >
        <img src="/images/logo.png" width="42" height="42"/>
        <a>M&S flowers store</a>
      </div>
      <div class="fh5co-top-menu menu-1 text-center">
        <ul id="navUl">
          <li>
            <a href="#catalog" id="catalogLink">Ctalog</a>
          </li>
          <li id="about" >
            <a href="#about" id="aboutLink">  About</a>
          </li>
          <li id="cantact" >
            <a href="#contact" id="contactLink">Contact</a>
          </li>
        </ul>
      </div>
      <div class="fh5co-top-social menu-1 text-right">
        <ul>
          <li>
            <a href="#" data-toggle="modal" data-target="#logoutModal">logout</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
    
   <% } 
    
    else if (UserType == 'employee'){%> <!-- navigation after an employee login -->
  <nav class="fh5co-nav" role="navigation" id="afterEmployeeLogin" >
    <div class="container" >
      <div class="fh5co-top-logo" >
        <img src="/images/logo.png" width="42" height="42"/>
        <a>M&S flowers store</a>
      </div>
      <div class="fh5co-top-menu menu-1 text-center">
        <ul id="navUl">
          <li>
            <a href="#catalog" id="catalogLink">Ctalog</a>
          </li>
          <li>
            <a href="#UsersMng" id="userMngLinkEmp">Manage-Costomers</a>
          </li>
          <li id="about" >
            <a href="#about" id="aboutLink">  About</a>
          </li>
          <li id="cantact" >
            <a href="#contact" id="contactLink">Contact</a>
          </li>
        </ul>
      </div>
      <div class="fh5co-top-social menu-1 text-right">
        <ul>
          <li>
            <a href="#" data-toggle="modal" data-target="#logoutModal">logout</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
  
   <% } 
    
   else if (UserType == 'managment'){%>  <!-- navigation afert managnet login -->
  <nav class="fh5co-nav" role="navigation" id="afterManagmentLogin" >
    <div class="container" >
      <div class="fh5co-top-logo" >
        <img src="/images/logo.png" width="42" height="42"/>
        <a>M&S flowers store</a>
      </div>
      <div class="fh5co-top-menu menu-1 text-center">
        <ul id="navUl">
          <li>
            <a href="#catalog" id="catalogLink">Ctalog</a>
          </li>
          <li>
            <a href="#UsersMng" id="userMngLink">Manage-Users</a>
          </li>
          <li>
            <a href="#BranchesMng" id="branchMngLink">Manage-Branches</a>
          </li>
          <li id="about" >
            <a href="#about" id="aboutLink">  About</a>
          </li>
          <li id="cantact" >
            <a href="#contact" id="contactLink">Contact</a>
          </li>
        </ul>
      </div>
      <div class="fh5co-top-social menu-1 text-right">
        <ul>
          <li>
            <a href="#" data-toggle="modal" data-target="#logoutModal">logout</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
    <% }
    
      else if (UserType == 'supplier'){%>  <!-- navigation afert supplier login -->
  <nav class="fh5co-nav" role="navigation" id="afterSupplierLogin" >
    <div class="container" >
      <div class="fh5co-top-logo" >
        <img src="/images/logo.png" width="42" height="42"/>
        <a>M&S flowers store</a>
      </div>
      <div class="fh5co-top-menu menu-1 text-center">
        <ul id="navUl">
          <li>
            <a href="#catalogMng" id="catalogMngLink">Manage-Catalog</a>
          </li>
          <li id="about" >
            <a href="#about" id="aboutLink">  About</a>
          </li>
          <li id="cantact" >
            <a href="#contact" id="contactLink">Contact</a>
          </li>
        </ul>
      </div>
      <div class="fh5co-top-social menu-1 text-right">
        <ul>
          <li>
            <a href="#" data-toggle="modal" data-target="#logoutModal">logout</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
    <% }
      
      else { %> <!-- navigation before login -->
  <nav class="fh5co-nav" role="navigation" id="beforeLogin">
    <div class="container" >
      <div class="fh5co-top-logo" >
        <img src="/images/logo.png" width="42" height="42"/>
        <a>M&S flowers store</a>
      </div>
      <div class="fh5co-top-menu menu-1 text-center">
        <ul id="navUl">
          <li id="about">
            <a href="#about" id="aboutLink">  About</a>
          </li>
          <li id="cantact" >
            <a href="#contact" id="contactLink">Contact</a>
          </li>
        </ul>
      </div>
      <div class="fh5co-top-social menu-1 text-right">
        <ul>
          <li>
            <a href="#login" data-toggle="modal" data-target="#loginModal">login</a>
          </li>

        </ul>
      </div>

    </div>
  </nav>
  <% }  %>
      
</div>
