﻿<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <% include ../partials/head %>
</head>

<body>
    <div id="page">
	<div id="pageContent">
	<div id="inner">
	
		<header id="aboutHeader">
            <% include ../partials/header %>
        </header>
		<div id="pagein">
			<% include ../partials/aboutBody %>
		</div>
	</div>
	</div>

		<!-- Login Modal -->
		<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="loginModalLabel">LOGIN</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
			  <div class="modal-body">
				<form id="modalForm" >
					<div class="form-group">
						<label for="userName" class="col-form-label">User Name:</label>
						<input type="text" class="form-control" id="userName" >
					</div>
					<div class="form-group">
						<label for="password" class="col-form-label">Password:</label>
						<input type="password" class="form-control" id="password">
					</div>
					 <div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
						<input class="btn btn-primary" data-dismiss="modal" id="loginBtnn" type="submit" value="Login" />
					  </div>
				</form>
			  </div>
			 
			</div>
		  </div>
		</div>

		<!-- Logout Modal -->
		<div class="modal" id="logoutModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Logout</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Are you sure do you want to disconnect? </p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal" id="logoutBtn">Logout</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>


    </div>

	
    <footer>
		<% include ../partials/footer %>
    </footer>
</body>
</html>








