﻿<div>

<div id="fh5co-work">
        <div class="container">
            <div class="row top-line animate-box">
                <div class="col-md-6 col-md-offset-1 col-md-push-2 text-center fh5co-heading">
                    <h2>Branch Management </h2>
                    <h3>Here you can Add, Edit, and Delete branches.</h3>
                </div>
                
                <div class="col-md-8 col-md-offset-1 col-md-push-1 text-center fh5co-heading">
                    <a class="btn btn-primary btn-outline" data-toggle="modal" data-target="#addBrnModal">Add New Branch</a>
                </div>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="col-md-12">
                            <h2 class="title animate-box">Branches List</h2>
                        </div>
                        <div>
                            <% branches.forEach(function(branch) { %>
                            <% include ../partials/branchMng %>
                            <% }); %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Delete Branch Modal -->
<div class="modal" id="deleteBranchModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Branch</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure do you want to delete this branch? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"  id="deleteBranchBtn">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div> 

<!-- Add Branch Modal -->
<div class="modal fade" id="addBrnModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add New Branch</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="newBrn">
                    <div class="form-group">
                        <label for="branchId" class="col-form-label">Branch Id:</label>
                        <input type="text" class="form-control" id="AbranchId">
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-form-label">Address:</label>
                        <input type="text" class="form-control" id="Aaddress">
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber" class="col-form-label">Phone Number:</label>
                        <input type="text" class="form-control" id="AphoneNumber">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input class="btn btn-primary add" data-dismiss="modal" id="addBrn" type="submit" value="Add" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="updateBranchModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">UPDATE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="updateModalForm">
                    <div class="form-group">
                        <label for="branchId" class="col-form-label">Branch Id:</label>
                        <input type="text" class="form-control branchId" id="branchId" disabled>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-form-label">address:</label>
                        <input type="text" class="form-control" id="address">
                    </div>
                    <div class="form-group">
                        <label for="telephone" class="col-form-label">Phone Number:</label>
                        <input type="text" class="form-control" id="telephone">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input class="btn btn-primary" data-dismiss="modal" id="updateBranchBtn" type="submit" value="Update" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- Waiting Modal -->
    <div class="modal" id="waitingModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Please wait...</p>
                </div>
            </div>
        </div>
    </div>
      
    <!--  Error Modal -->
    <div class="modal" id="errorModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Cannot update. Please reload and try again.</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary add" data-dismiss="modal" id="refreshBrn" type="submit">Reload</button>
                </div>
            </div>
         </div>
    </div>

    <div class="gototop js-top" style="left: 20px">
        <a id="refreshBrn" >
            <i ><img src="images/relaodIcon.png"/></i>
        </a>
    </div>

</div>