﻿<div>
    <div id="fh5co-work">
            <div class="container">
                <div class="row top-line animate-box">
                    <div class="col-md-6 col-md-offset-1 col-md-push-2 text-center fh5co-heading">
                        <h2>FLOWET BOUQUE CATALOG </h2>
                        <h3>Fresh, fragrant and colorful bouque, all in one place!</h3>
                        <p>We have beautiful flower bouque, but if there is nothing you love, tell us and we will design new one especially for you :) <br/> The service is given in every branch!</p>
                    </div>
                </div>
                <div class="row">
 
                    <% catalog.forEach(function(flower) { %>
                        <% include ../partials/flower %>
                        <% }); %>
                </div>
            </div>
        </div>
</div>
    
  