﻿<div>
    <div id="fh5co-work">
            <div class="container">
                <div class="row top-line animate-box">
                    <div class="col-md-6 col-md-offset-1 col-md-push-2 text-center fh5co-heading">
                        <h2>MANAGE FLOWET CATALOG </h2>
                        <h3>Keep the catalog updated!</h3>
                        <p>Add a new flower to our catalog.</p>
                    </div>
                </div>
                <div class="row">
                    <% catalog.forEach(function(flower) { %>
                        <% include ../partials/flower %>
                        <% }); %>
                       <!-- Add new flwer -->
                        <div class="col-md-4 text-center animate-box"
                             style="border:1px dashed #7e8889;
                                    border-width:1px;
                                    border-style:dashed;
                                    border-color:#7e8889;">
                            <a class="work">
                                <div class="work-grid" style="background-image:url('images/plusIcon.png');" data-toggle="modal" data-target="#addFlrModal">
                                    <div class="inner">
                                        <div class="desc">
                                            <h2>ADD</h2>
                                            <span class="cat" style="font-size:24px; color: #685641;">
                                              add a new flower
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>  
                </div>
            </div>
        </div>

     <!-- Add Flower Modal -->
    <div class="modal fade" id="addFlrModal" tabindex="-1" role="dialog" aria-labelledby="addFlrModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Add New Flower</h5>
                    <button type="button" class="close psw" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/addFlower" method="post" id="newFlr" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="flrName" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="flrName" name="flrName">
                        </div>
                        <div class="form-group">
                            <label for="flrColor" class="col-form-label">Color:</label>
                            <input type="text" class="form-control" id="flrColor" name="flrColor">
                        </div>
                        <div class="form-group">
                            <label for="flrPrice" class="col-form-label">Price:</label>
                            <input type="number" class="form-control" id="flrPrice" name="flrPrice">
                        </div>
                        <div class="form-group">
                            <label for="flrImg" class="col-form-label">Image:</label>
                            <input type="file" class="form-control" id="flrImg" name="image">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button class="btn btn-primary" data-dismiss="modal" id="addFlr" type="submit">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

  <div class="gototop js-top" style="left: 20px">
    <a id="refreshCatalog" >
      <i >
        <img src="images/relaodIcon.png"/>
      </i>
    </a>
  </div>
</div>
    
  