﻿<div >
  <div id="fh5co-contact" ">
    <div class="container">
      <div class="row top-line animate-box"  >
        <!---->
        <div class="col-md-6 col-md-offset-1 col-md-push-2 text-center fh5co-heading">
          <h1>Contact Us</h1>

          <div dir="auto">
             <div style="margin-bottom:30px;color:rgb(63,63,63);font-family:&quot;fira sans&quot;,helvetica,arial,sans-serif;font-size:16px;border-bottom:1px solid rgb(244,244,244)!important;padding-bottom:30px!important" dir="auto">

                <h5 style="margin:0px 0px 10px;font-family:&quot;playfair display&quot;,georgia,serif;font-style:italic;letter-spacing:0.05em;line-height:1.5;color:rgb(51,51,51);font-size:18px">Address</h5>
                <div>15 Tillson Ave. Rockland, ME 04841</div>

</div>
<div style="margin-bottom:30px;color:rgb(63,63,63);font-family:&quot;fira sans&quot;,helvetica,arial,sans-serif;font-size:16px;border-bottom:1px solid rgb(244,244,244)!important;padding-bottom:30px!important" dir="auto">

<h5 style="margin:0px 0px 10px;font-family:&quot;playfair display&quot;,georgia,serif;font-style:italic;letter-spacing:0.05em;line-height:1.5;color:rgb(51,51,51);font-size:18px">Phone</h5>
<div>207-236-3023</div>

</div>
<div style="margin-bottom:30px;color:rgb(63,63,63);font-family:&quot;fira sans&quot;,helvetica,arial,sans-serif;font-size:16px;border-bottom:1px solid rgb(244,244,244)!important;padding-bottom:30px!important" dir="auto">

<h5 style="margin:0px 0px 10px;font-family:&quot;playfair display&quot;,georgia,serif;font-style:italic;letter-spacing:0.05em;line-height:1.5;color:rgb(51,51,51);font-size:18px">Hours</h5>
<div>
<strong>Summer Hours<br>May – Oct</strong>
<br>Mon-Fri 9-5<br>Sat 9-3<br><strong>Winter Hours<br>Nov – April</strong><br>Mon-Fri 9-4<br>Sat 9-3</div>

</div>
</div>

         </div>
      </div>

        
      </div>
    </div>
  </div>
</div>