﻿<div>
    <div id="fh5co-work">
            <div class="container">
                <div class="row top-line animate-box">
                    <div class="col-md-6 col-md-offset-1 col-md-push-2 text-center fh5co-heading">
                        <h2>Users Managment </h2>
                        <h3>Manage your employees and customers</h3>
                        <p>As a managment, you can add new customer or employee, or update and delete currnet customer or employee.</p>
                    </div>
                </div>
                <div class="row">
 
                    <% customers.forEach(function(customer) { %>
                        <% include ../partials/customer %>
                        <% }); %>
                </div>
            </div>
        </div>
</div>
    
  