﻿<!DOCTYPE HTML>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>

    <div class="fh5co-loader"></div>
    <div id="page">
        <header>
            <% include ../partials/header %>
        </header>
        <div id="fh5co-work">
            <div class="container">
                <div class="row top-line animate-box">
                    <div class="col-md-6 col-md-offset-3 col-md-push-2 text-left fh5co-heading">
                        <h2>Portfolio</h2>
                        <h3>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-center animate-box">
                        <a class="work" href="portfolio_detail.html">
                            <div class="work-grid" style="background-image:url(<% branches[0].image %>);">
                                <div class="inner">
                                    <div class="desc">
                                        <h3>Folding Light</h3>
                                        <span class="cat">Branding</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 text-center animate-box">
                        <a class="work" href="portfolio_detail.html">
                            <div class="work-grid" style="background-image:url(../../public/images/bouquetRosa.jpg);">
                                <div class="inner">
                                    <div class="desc">
                                        <h3>Power Led Light</h3>
                                        <span class="cat">Illustration</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 text-center animate-box">
                        <a class="work" href="portfolio_detail.html">
                            <div class="work-grid" style="background-image:url(../../public/images/bouquetRosa.jpg);">
                                <div class="inner">
                                    <div class="desc">
                                        <h3>Elephant Origami</h3>
                                        <span class="cat">Logo</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 text-center animate-box">
                        <a class="work" href="portfolio_detail.html">
                            <div class="work-grid" style="background-image:url(../../public/images/bouquetRosa.jpg);">
                                <div class="inner">
                                    <div class="desc">
                                        <h3>Electric Kick Scooter</h3>
                                        <span class="cat">Web Design</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 text-center animate-box">
                        <a class="work" href="portfolio_detail.html">
                            <div class="work-grid" style="background-image:url(../../public/images/bouquetRosa.jpg);">
                                <div class="inner">
                                    <div class="desc">
                                        <h3>Shark Diver</h3>
                                        <span class="cat">Branding</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 text-center animate-box">
                        <a class="work" href="portfolio_detail.html">
                            <div class="work-grid" style="background-image:url(../../public/images/bouquetRosa.jpg);">
                                <div class="inner">
                                    <div class="desc">
                                        <h3>Objekte Unserer Tage Berlin</h3>
                                        <span class="cat">Logo</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 text-center animate-box">
                        <a class="work" href="portfolio_detail.html">
                            <div class="work-grid" style="background-image:url(../../public/images/bouquetRosa.jpg);">
                                <div class="inner">
                                    <div class="desc">
                                        <h3>Aloha Shirt</h3>
                                        <span class="cat">Web Design</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 text-center animate-box">
                        <a class="work" href="portfolio_detail.html">
                            <div class="work-grid" style="background-image:url(../../public/images/bouquetRosa.jpg);">
                                <div class="inner">
                                    <div class="desc">
                                        <h3>Olafur Elliasson Waterfall Versailles</h3>
                                        <span class="cat">Branding</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 text-center animate-box">
                        <a class="work" href="portfolio_detail.html">
                            <div class="work-grid" style="background-image:url(/images/bouquetRosa.jpg);">
                                <div class="inner">
                                    <div class="desc">
                                        <h3>Hand Care</h3>
                                        <span class="cat">Logo</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="fh5co-started">
            <div class="container">
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                        <h2>Get Started</h2>
                        <p>We create beautiful themes for your site behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <p><a href="#" class="btn btn-primary">Let's work together</a></p>
                    </div>
                </div>
            </div>
        </div>

        <footer id="fh5co-footer" role="contentinfo">
            <div class="container">
                <div class="row copyright">
                    <div class="col-md-12 text-center">
                        <p>
                            <small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small>
                            <small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a> &amp; <a href="http://blog.gessato.com/" target="_blank">Gessato</a></small>
                        </p>

                        <ul class="fh5co-social-icons">
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>

    <!-- jQuery -->
    <script src="scripts/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="scripts/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="scripts/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="scripts/jquery.waypoints.min.js"></script>
    <!-- Main -->
    <script src="scripts/main.js"></script>
</body>
</html>
