﻿<div>
    <div id="fh5co-work">
        <div class="container">
            <div class="row top-line animate-box">
                <div class="col-md-6 col-md-offset-1 col-md-push-2 text-center fh5co-heading">
                    <% if (UserType == 'managment'){%>
                    <h2>Users Managment </h2>
                    <h3>Manage your employees and customers</h3>
                    <p>As a managment, you can add new customer or employee, or update and delete currnet customer or employee.</p>
                    <% }
                    if (UserType == 'employee') {%> 
                    <h2>Users Managment </h2>
                    <h3>Manage your customers</h3>
                    <p>As an employee, you can add new customer or delete currnet customer.</p>
                    <% }%>
                </div>
                <div class="col-md-8 col-md-offset-1 col-md-push-1 text-center fh5co-heading">
                    <% if (UserType == 'managment'){%>
                    <a class="btn btn-primary btn-outline" data-toggle="modal" data-target="#addMngModal" data-permission="managment">Add New Managment</a>
                    <a class="btn btn-primary btn-outline" data-toggle="modal" data-target="#addEmpModal" data-permission="employee">Add new Employee</a>
                    <% }%>
                    <a class="btn btn-primary btn-outline" data-toggle="modal" data-target="#addCstModal" data-permission="customer">Add New Customer</a>
                </div>
            </div>
            <% if (UserType == 'managment'){%>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <h2 class="title animate-box">Managments List</h2>
                    </div>

                    <% managments.forEach(function(managment) { %>
                    <% include ../partials/managment %>
                    <% }); %>

                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <h2 class="title animate-box">Employees List</h2>
                    </div>

                    <% employees.forEach(function(employee) { %>
                    <% include ../partials/employee %>
                    <% }); %>

                </div>
            </div>
            <% } %>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <h2 class="title animate-box">Customers List</h2>
                    </div>
                    
                    <div>
                        <% customers.forEach(function(customer) { %>
                        <% include ../partials/customer %>
                        <% }); %>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
  
    <% if (UserType == 'managment'){%>
    <!-- Update Employee/er Modal -->
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="employeePermissionModal">
                        <div class="form-group">
                            <label for="userName" class="col-form-label">User Name:</label>
                            <input type="text" class="form-control" id="userName">
                        </div>
                        <div class="form-group">
                            <label for="employeePermission" class="col-form-label">Permission:</label>
                            <select name="parmissions">
                                <option value="managment">Managment</option>
                                <option value="employee">Employee</option>
                                <option value="noUser">No-permission</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button class="btn btn-primary" data-dismiss="modal" id="updateEmployeePrm" type="submit">Update</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- Delete Employee/er Modal -->
    <div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure do you want to delete this employee? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary delete" data-dismiss="modal" id="deleteEmployeeBtn" >Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <% }%>
      
    <!-- Delete Customer Modal -->
    <div class="modal" id="deleteCustomerModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Customer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure do you want to delete this customer from the customers list? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary delete" data-dismiss="modal" id="deleteCustomerBtn">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <% if (UserType == 'managment'){%>
    <!-- Add Managment Modal -->
      <div class="modal fade" id="addMngModal" tabindex="-1" role="dialog" aria-labelledby="addMngModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Add New Managment</h5>
                    <button type="button" class="close psw" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="newMng">
                        <div class="form-group">
                            <label for="mngName" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="mngName">
                        </div>
                        <div class="form-group">
                            <label for="mngUserNm" class="col-form-label">UserName:</label>
                            <input type="text" class="form-control" id="mngUserNm">
                        </div>
                        <div class="form-group">
                            <label for="mngPsw1" class="col-form-label">Password:</label>
                            <input type="password" class="form-control psw" id="mngPsw1">
                        </div>
                        <div class="form-group">
                            <label for="mngPsw2" class="col-form-label ">Rewrite Password:</label>
                            <input type="password" class="form-control psw" id="mngPsw2">
                            <p id="pswMErr" style="visibility:hidden; color:red"> wrong password, please re-write your password</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary psw" data-dismiss="modal">Close</button>
                            <button class="btn btn-primary add" data-dismiss="modal" data-type="managment" id="addMng" type="submit">Add</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    
    <!-- Add Employee Modal -->
    <div class="modal fade" id="addEmpModal" tabindex="-1" role="dialog" aria-labelledby="addEmpModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Employee</h5>
                    <button type="button" class="close psw" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="newEmp">
                        <div class="form-group">
                            <label for="empName" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="empName">
                        </div>
                        <div class="form-group">
                            <label for="empUserNm" class="col-form-label">UserName:</label>
                            <input type="text" class="form-control" id="empUserNm">
                        </div>
                        <div class="form-group">
                            <label for="empPsw1" class="col-form-label">Password:</label>
                            <input type="password" class="form-control psw" id="empPsw1">
                        </div>
                        <div class="form-group">
                            <label for="empPsw2" class="col-form-label">Rewrite Password:</label>
                            <input type="password" class="form-control psw" id="empPsw2">
                            <p id="pswEmErr" style="visibility:hidden; color:red"> wrong password, please re-write your password</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary psw" data-dismiss="modal">Close</button>
                            <button class="btn btn-primary add" data-dismiss="modal" id="addEmp" type="submit">Add</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <% }%>

    <!-- Add Customer Modal -->
    <div class="modal fade" id="addCstModal" tabindex="-1" role="dialog" aria-labelledby="addCstModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Customer</h5>
                    <button type="button" class="close psw" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="newCst">
                        <div class="form-group">
                            <label for="cstName" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="cstName">
                        </div>
                        <div class="form-group">
                            <label for="cstUserNm" class="col-form-label">UserName:</label>
                            <input type="text" class="form-control" id="cstUserNm">
                        </div>
                        <div class="form-group">
                            <label for="cstPsw1" class="col-form-label">Password:</label>
                            <input type="password" class="form-control psw" id="cstPsw1">
                        </div>
                        <div class="form-group">
                            <label for="cstPsw2" class="col-form-label">Rewrite Password:</label>
                            <input type="password" class="form-control psw" id="cstPsw2">
                            <p id="pswCstErr" style="visibility:hidden; color:red"> wrong password, please re-write your password</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary psw" data-dismiss="modal">Close</button>
                            <button class="btn btn-primary add" data-dismiss="modal" id="addCst" type="submit">Add</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- Waiting Modal -->
    <div class="modal" id="waitingModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Please wait...</p>
                </div>
            </div>
        </div>
    </div>
      
    <!--  Error Modal -->
    <div class="modal" id="errorModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Cannot update. Please reload and try again.</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary add" data-dismiss="modal" id="refresh" type="submit">Reload</button>
                </div>
            </div>
         </div>
    </div>

    <div class="gototop js-top" style="left: 20px">
        <a id="refresh" >
            <i ><img src="images/relaodIcon.png"/></i>
        </a>
    </div>
</div>


